@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins", serif;
  color: white;
  background: rgb(0,59,215);
  background: linear-gradient(0deg, rgba(0,59,215,1) 0%, rgba(0,185,255,1) 100%);
}

.ipfp {
  border-radius: 50%;
}

.ilg {
  margin-left: 15px;
}

.comblogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #005aba;
  background-image: -webkit-linear-gradient(top, #005aba, #003ca3);
  background-image: -moz-linear-gradient(top, #005aba, #003ca3);
  background-image: -ms-linear-gradient(top, #005aba, #003ca3);
  background-image: -o-linear-gradient(top, #005aba, #003ca3);
  background-image: linear-gradient(to bottom, #005aba, #003ca3);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #000075 2px;
  text-decoration: none;
}

.btn:hover {
   padding: 20px 30px 20px 30px;
}
