@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins", serif;
  color: white;
  background: rgb(0,59,215);
  background: linear-gradient(0deg, rgba(0,59,215,1) 0%, rgba(0,185,255,1) 100%);
}

.ipfp {
  border-radius: 50%;
}

.ilg {
  left-margin: 5px;
}

.comblogo {
  
}
